#home-desing {
    background-image: conic-gradient(at 59% 35%, #e9b362, #c8cbcc, #5c3c97);
}

#txt{
    text-shadow: 2px 2px 5px darkgrey;
}

#mensajes{
    width: 100%;
    height: 100%;
}

#imgfondo{
    width: 30%;
    height: 30%;
}

#servicios-precios{
    background-image: conic-gradient(from 120deg at 65%, #e9b362, #c8cbcc, #5c3c97);
}

#FacilC{
    background-color: #c8cbcc;
}

#CreaTu{
    background-image: conic-gradient(from 210deg at 35%, #e9b362, #c8cbcc, #5c3c97);
}

#button{
    background-color: #232d31;
}

//background-image: conic-gradient(at 59% 35%, #b9706b, #2A363B, #7a9479);

//background-image: conic-gradient(from 120deg at 65%, #b9706b, #2A363B, #7a9479);

//background-color: #232d31;

//background-image: conic-gradient(from 210deg at 35%, #b9706b, #2A363B, #7a9479);

.div-3 {
    float: left;
    margin: 10px;/* El div ocupará el 25% del ancho total */
  }

  .div-resto {
    overflow: hidden;
    width: calc(75% - 10px); /* El div ocupará el 75% restante menos el espacio de separación deseado */
    margin-left: 10px; /* Espacio de separación entre los divs */
  }

  .bg-light-purple {
    background-color: #ffe082 ; /* A shade of light purple */
    border-color: none;
    /* You might also want to adjust text color for contrast if needed */
    color: #333; /* Example: dark grey text */
}

.bg-light-purple:hover {
    background-color: #A97CC0; /* Un púrpura un poco más oscuro o diferente al pasar el mouse */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
}
