.chat {
  padding: 20px;
  height: 100vh;
  width: 100vh;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.messages-container {
  flex: 1;
}

.container {
  justify-content: center;
  display: flex;
}

.margin{
  padding-top: 5%;
}
.name {
  padding-left: 3px;
  padding-right: 3px;
}

#chatview{
    background-image: conic-gradient(from 180deg at 50%, #cca975, #c8cbcc, #8268b3);
}