<body class="bg-gradient-default">
  <div>
    <div *ngIf="roleID == '1'">
      <app-admin-nav></app-admin-nav>
    </div>

    <div *ngIf="roleID == '2'">
      <app-client-nav></app-client-nav>
    </div>
  </div>
  <section class="section section-shaped">
    <div class="container margin">
        <div class="chat">
          <div class="chat-container">
            <div class="messages-container text-light">
              <div *ngFor="let message of messages" [key]="message.id">
                [{{ message.name }}]: {{ message.text }}
              </div>
            </div>

            <div *ngIf="typingDisplay">{{ typingDisplay }}</div>
            <hr/>

            <div class="message-input">
              <form (ngSubmit)="sendMessage()">
                <div class="row input-group">
                  <label class="col-form-label">Message:</label>
                  <input class="form-control" [(ngModel)]="messageText" name="messageText" (input)="emitTyping()">
                  <button class="col-3 btn btn-success" type="submit">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>

    </div>
  </section>
</body>

