<app-navbar></app-navbar>
<main>
  <div class="service" id="services">
    <section class="section" id="webflow">
        <div class="section ">
            <div class="row align-items-center justify-content-center">
                    <h4 class="display-3 font-weight-bold text-white">Servicios</h4>
            </div>
        </div>
        <div class="container ">
          <div class="row row-grid align-items-center">
            <div class="col-md-6">
              <div class="card bg-default shadow border-0 trans">
                <img src="./assets/img/theme/pagina-nina.png" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default" />
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                  </svg>
                  <h4 class="display-3 font-weight-bold text-white">Diseño de pagina web en Webflow</h4>
                  <p class="lead text-italic text-white">
                    Nuestro talentoso equipo de diseñadores se
                     asegurará de que tu página web destaque
                     visualmente y refleje la identidad
                     única de tu marca.
                    </p>
                </blockquote>
              </div>
            </div>
            <div class="col-md-6">
              <div class="pl-md-5">
                <p class="lead text-dark trans">Permítenos presentarte nuestro servicio de creación de
                     páginas web utilizando Webflow: la plataforma líder en diseño web visual y
                     desarrollo sin código. Nuestro equipo experto se dedica a transformar tus
                     ideas y necesidades en una presencia digital atractiva y funcional. Con nuestra
                      amplia experiencia en Webflow, te ofrecemos una solución integral que abarca
                       desde la planificación estratégica hasta la implementación y el mantenimiento
                        continuo de tu página web. Trabajaremos estrechamente contigo para comprender
                         tus objetivos comerciales y crear una presencia en línea que resalta tus
                         fortalezas y atraiga a tu público objetivo.
                </p>
                <button type="button" class="btn btn-primary">Pide tu pagina creada en webflow!!</button>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="section" id="angular">
        <div class="container trans">
          <div class="row row-grid align-items-center">

            <div class="col-md-6">
              <div class="pl-md-5">
                <p class="lead text-dark trans">
                      En nuestro servicio de creación de aplicaciones web con Angular y
                      NestJS, nos apasiona brindar soluciones de desarrollo web robustas
                      y flexibles. Nuestro equipo de expertos en programación se
                      asegurará de que su aplicación web cumpla con los más altos
                      estándares de calidad, escalabilidad y rendimiento. Angular
                      es un marco popular de desarrollo web que ofrece una amplia gama
                      de herramientas y características para crear aplicaciones web modernas
                      y receptivas. NestJS es un framework de desarrollo de aplicaciones web
                      basado en Node.js y TypeScript.
                </p>
                <button type="button" class="btn btn-info">No pierdas tiempo y pide tu aplicación!!</button>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-default shadow border-0 trans">
                  <img src="./assets/img/theme/pagina-angular.png" class="card-img-top">
                  <blockquote class="card-blockquote">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                      <polygon points="0,52 583,95 0,95" class="fill-default" />
                      <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                    </svg>
                    <h4 class="display-3 font-weight-bold text-white">Aplicaciones web con Angular y Nestjs</h4>
                    <p class="lead text-italic text-white">
                        Utilizando el poderoso sistema de
                        componentes de Angular, creamos
                        diseños limpios y modulares que
                        pueden ser reutilizados en diferentes
                        partes de tu aplicación. Esto permite
                        una mayor eficiencia en el desarrollo
                        y una expansión de tu aplicación a
                        medida que crece.
                      </p>
                  </blockquote>
                </div>
              </div>
          </div>
        </div>
      </section>

      <section class="section" id="web" >
        <div class="container">
          <div class="row row-grid align-items-center">
            <div class="col-md-6">
              <div class="card bg-default shadow border-0 trans">
                <img src="./assets/img/theme/pagina-personalizable.jpg" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default" />
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                  </svg>
                  <h4 class="display-3 font-weight-bold text-white">Web personalizable</h4>
                  <p class="lead text-italic text-white">
                    Nuestro servicio web personalizable te permite tener el control
                    total sobre la creación de tu página web. Con este servicio tienes
                    a tu disposcisión los siguientes beneficios:
                    </p>
                </blockquote>
              </div>
            </div>
            <div class="col-md-6">
              <div class="pl-md-5">
                <p class="lead text-dark trans">
                    Especificar las tecnologías: Creemos que cada proyecto web es único, por lo que
                    te permitimos especificar las tecnologías que deseas utilizar en el desarrollo de tu página. <br><br>

                    Funciones a medida: Entendemos que tu página web debe cumplir con funciones
                    específicas para adaptarse a tu modelo de negocio o requisitos individuales. <br><br>

                    Diseño y estilos personalizables: Queremos que tu página web se destaque
                    visualmente y refleje la identidad de tu marca. <br><br>

                    Integraciones de terceros:Ya sea que
                    requiera la integración de sistemas de pago, herramientas de marketing, redes sociales
                    u otros servicios de terceros, nos aseguraremos de que se realicen de manera fluida
                    y eficiente. <br><br>

                    Soporte continuo: Ofrecemos soporte continuo para garantizar que su sitio esté siempre
                    actualizado, seguro y funcionando sin problemas.

                </p>
                <button type="button" class="btn btn-success">Tu web perfecta puede estar en tus manos!!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-dark" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
    </div>




    <div class="Products" id="products">
      <section class="section bg-dark" id="landing">
          <div class="section  bg-dark">
              <div class="row align-items-center justify-content-center">
                      <h4 class="display-3 font-weight-bold text-white">Productos</h4>
              </div>
          </div>
          <div class="container">
            <div class="row row-grid align-items-center">
              <div class="col-md-6">
                <div class="card bg-secondary shadow border-0 trans">
                  <img src="./assets/img/theme/landing-page.png" class="card-img-top">
                  <blockquote class="card-blockquote">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                      <polygon points="0,52 583,95 0,95" class="fill-secondary" />
                      <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-secondary" />
                    </svg>
                    <h4 class="display-3 font-weight-bold text-dark">Plantilla de landing page en HTML y CSS</h4>
                    <p class="lead text-italic text-dark">
                      ¿Estás buscando una forma de aumentar las
                      conversiones de tu sitio web? Entonces nuestra
                      plantilla de landing page en HTML y CSS es
                      la solución perfecta para ti. Diseñada para
                      ayudarte a crear una página de destino impresionante,
                      esta plantilla es fácil de usar y personalizar,
                      lo que significa que puedes crear una página de
                      destino atractiva en poco tiempo.
                      </p>
                  </blockquote>
                </div>
              </div>
              <div class="col-md-6">
                <div class="pl-md-5">
                  <p class="lead text-white trans">
                    Con características personalizables, nuestra plantilla de
                    landing page te permite elegir entre diferentes diseños de
                    página de inicio, agregar secciones personalizadas y personalizar
                    los colores y fuentes para adaptar a tu marca. Además, esta
                    plantilla está optimizada para la conversión, lo que significa
                    que todo está diseñado para ayudar a convertir a los visitantes
                    en clientes.
                    <br><br>
                    La plantilla también es altamente adaptable, lo que significa
                    que puedes personalizarla para cualquier tipo de negocio o industria.
                    Ya sea que estés vendiendo productos o servicios, nuestra plantilla
                    de landing page en HTML y CSS te ayudará a presentar tu oferta de manera
                    efectiva y atractiva.
                    <br><br>
                    Si estás buscando una forma de aumentar las conversiones y mejorar la
                    presencia en línea de tu negocio, nuestra plantilla de landing page en
                    HTML y CSS es la mejor solución. Con una amplia variedad de características
                    personalizables, esta plantilla es fácil de usar y te ayudará a crear
                    una página de destino impresionante en poco tiempo. ¡Haz que tu negocio brille!
                  </p>
                  <button type="button" class="btn btn-primary">
                    Configura de manera sencilla tu landing page!! <br>
                    14.99$
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section class="section bg-dark" id="pangular">
          <div class="container">
            <div class="row row-grid align-items-center">

              <div class="col-md-6">
                <div class="pl-md-5">
                  <p class="lead text-white trans">
                    Diseñada específicamente para empresas que buscan
                    una solución de administración eficiente, esta plantilla
                    te permitirá acceder a una gran variedad de características
                    personalizables. Con esta plantilla, puedes crear una
                    interfaz de usuario intuitiva y atractiva que te permitirá
                    administrar y monitorear tus operaciones comerciales fácilmente.
                    <br><br>
                    Con la integración del framework CSS Bootstrap, la plantilla
                    es altamente adaptable y fácil de personalizar. Puedes elegir
                    entre diferentes diseños y estilos de página, y personalizar
                    los colores y fuentes para adaptar a tu marca.
                    <br><br>
                    Además, la plantilla es altamente escalable y se adapta a cualquier
                    tamaño de empresa. Con características personalizables como gráficos
                    de reportes y tablas dinámicas, podrá obtener una mejor visibilidad
                    de sus operaciones comerciales y tomar decisiones más informadas.
                  </p>
                  <button type="button" class="btn btn-info">
                    Mejora el rendimiento de tu empresa <br>
                    ahora por 34.99$!!
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="card bg-secondary shadow border-0 trans">
                    <img src="./assets/img/theme/angular-bootstrap.png" class="card-img-top">
                    <blockquote class="card-blockquote">
                      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                        <polygon points="0,52 583,95 0,95" class="fill-secondary" />
                        <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-secondary" />
                      </svg>
                      <h4 class="display-3 font-weight-bold text-dark">Plantilla de Angular con Bootstrap</h4>
                      <p class="lead text-italic text-dark">
                        ¿Estás buscando una forma de
                        mejorar la eficiencia de tu empresa?
                        Nuestra plantilla de Angular usando el
                        framework CSS Bootstrap es la solución
                        perfecta para llevar la administración
                        y hacer más eficientes tus mecanismos
                        de reportes.
                        </p>
                    </blockquote>
                  </div>
                </div>
            </div>
          </div>
        </section>

        <section class="section bg-dark" id="corp" >
          <div class="container">
            <div class="row row-grid align-items-center">
              <div class="col-md-6">
                <div class="card bg-secondary shadow border-0 trans">
                  <img src="./assets/img/theme/pagina-corp.png" class="card-img-top">
                  <blockquote class="card-blockquote">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                      <polygon points="0,52 583,95 0,95" class="fill-secondary" />
                      <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-secondary" />
                    </svg>
                    <h4 class="display-3 font-weight-bold text-dark">Plantilla corporativa en HTML, CSS y JavaScript</h4>
                    <p class="lead text-italic text-dark">
                      Cuenta con una estructura de página
                      corporativa, esta plantilla utiliza un
                      framework CSS llamado Bulma para el diseño
                      responsive y utiliza javascript para
                      implementar transiciones.
                      </p>
                  </blockquote>
                </div>
              </div>
              <div class="col-md-6">
                <div class="pl-md-5">
                  <p class="lead text-white trans">
                    Atrae a tus clientes potenciales con una plantilla de
                    página web corporativa impresionante y profesional.
                    Nuestra plantilla de página web corporativa en HTML,
                    CSS y JavaScript es ideal para empresas que buscan una
                    presencia en línea sólida y elegante.
                    <br><br>
                    Con esta plantilla, tendrás acceso a una amplia variedad
                    de características y diseños personalizables, que te permitirán
                    crear una página web única y atractiva para tu negocio.
                    Puedes elegir entre diferentes diseños de página de inicio,
                    agregar secciones personalizadas, personalizar los colores y
                    fuentes, y mucho más.
                    <br><br>
                    Además, nuestra plantilla es fácil de usar y personalizar, por
                    lo que no necesita ser un experto en programación para crear
                    una página web impresionante. Todo lo que necesitas es un
                    conocimiento básico de HTML, CSS y JavaScript, y estarás en
                    el camino de crear una página web que atraiga a tus clientes
                    ideales.

                  </p>
                  <button type="button" class="btn btn-success">
                    Atrae potenciales clientes <br>
                    por tan solo 24.99$!!
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
      </div>
</main>
